/* td,th{
    text-align: center
} */
.active {
    background-color: #666;
    color: white;
  }
  #tbl{
    cursor: pointer;
  }
  #lblIn-Active{
    color: #e8e807;
  }
  #lblActive{
    color: #0fd615;
  }
  #lblBan{
    color: #eb131e;
  }