<div class="container " >
    <div class="row justify-content-center my-auto" >
        
        <div class="col-xl-10 col-lg-12 col-md-9">
            
            <div class="card o-hidden border-0 shadow-lg my-9">
                
                <div class="card-body p-4">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-7">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Đổi Mật Khẩu!</h1>
                                </div>
                                <form [formGroup]="changePasswordForm" class="user" autocomplete="off" (ngSubmit)="onChangePassword()">
                                    <div class="form-group">
                                        <input formControlName="oldPassword" type="password" class="form-control form-control-user"  required
                                           
                                            placeholder="Nhập mật khẩu cũ...">
                                            <div *ngIf="changePasswordForm.controls['oldPassword'].touched && changePasswordForm.controls['oldPassword'].invalid" class="text-left text-danger  mt-1">
                                                <i *ngIf="changePasswordForm.controls['oldPassword'].errors?.['required']" >Không để trống trường này</i>
                                            </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input formControlName="newPassword" minlength="6" type="password" class="form-control form-control-user"
                                            id="newPassword" placeholder="Nhập mật khẩu mới..." required>
                                            <div *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].invalid" class="text-left text-danger mt-1">
                                                <i *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']">Không để trống trường này</i>
                                               
                                            </div>
                                            <div *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].invalid" class="text-left text-danger mt-1">
                                                
                                                <i *ngIf="changePasswordForm.controls['newPassword'].errors?.['minlength']">Độ dài mật khẩu phải từ 6 kí tự trở lên</i>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <input formControlName="confirmPassword" type="password" class="form-control form-control-user"
                                            id="confirmPassword" placeholder="Xác nhận mật khẩu mới..." required>
                                            <div *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].invalid" class="text-left text-danger mt-1">
                                                <i *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['required']" >Không để trống trường này</i>
                                            </div>
                                            <div  class="text-left text-danger mt-1">
                                                <i *ngIf="validateSubmit() && !(changePasswordForm.controls['confirmPassword'].invalid)">Không trùng mật khẩu mới</i>
                                            </div>
                                            
                                    </div>
                                    
                                    <button type="submit"  class="btn btn-primary btn-user btn-block" [disabled]="validateSubmit() || !(changePasswordForm.valid && changePasswordForm.dirty)">Xác Nhận</button>
                                    
                                 
                                 
                                </form>
                                <div *ngIf="changePasswordFail" class="text-center text-danger mt-3">
                                    <i class="material-icons"></i>{{error_message}}
                                </div>
                                <div *ngIf="changePasswordSuccess" class="text-center text-success mt-3">
                                    <i class="material-icons"></i>{{error_message}}
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>
    </div>
    
    

