
<div class="container emp-profile">
    <p class="text-dark mb-4" *ngIf="doctor?.reason!=null">Lý do tài khoản không được kích hoạt: <span class="text-danger">{{doctor.reason}}</span></p>
    <app-spinner *ngIf="loading$ | async"></app-spinner>
    
        <div class="row">
            
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{doctor.imageUrl?doctor.imageUrl:'assets/img/profile-image.png'}}" class="rounded" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h2 >
                                {{doctor.fullName}}
                            </h2>
                            <h4>
                                {{doctor.specialty}}
                            </h4>
                            <p class="proile-rating">Đánh Giá : <span>{{doctor.rating}}/5</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <mat-tab-group dynamicHeight mat-align-tabs="start">
                            <mat-tab label="Thông Tin"> 
                                <div class="tab-pane fade show active mt-4" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Id</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{doctor.id}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Tên</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{doctor.fullName}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Ngày Sinh</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{doctor.dob}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Giới Tính</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p *ngIf="doctor?.gender==1;else elseBlock">Nữ</p>
                                            <ng-template #elseBlock><p>Nam</p></ng-template>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Vị Trí</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{doctor.position}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{doctor.email}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Điện Thoại</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{doctor.phone}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Chuyên Khoa</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{doctor.specialty}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Nơi Làm Việc</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{doctor.jobPlace}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">CMND/CCCD Mặt Trước</label>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{{doctor.identificationFront?doctor.identificationFront:''}}" target="_blank">Xem</a>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">CMND/CCCD Mặt Sau</label>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{{doctor.identificationBack?doctor.identificationBack:''}}" target="_blank">Xem</a>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Ký Số</label>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{{doctor.signature?doctor.signature:''}}" target="_blank">Xem</a>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Chứng Chỉ Hành Nghề</label>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{{doctor.certificate?doctor.certificate:''}}" target="_blank">Xem</a>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Hạn Chứng Chỉ</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="date" id="expireDate" name="expireDate" value="{{doctor.expireDateCertificate}}"/>
                                        </div>
                                    </div>
                                   
                                    
                        </div>
                            </mat-tab>
                            <mat-tab label="Hoạt Động"> 
                                <div class="tab-pane fade show mt-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Chuyên Khoa</label>
                                        </div>
                                        <div >
                                            <div class="col-md-13" *ngFor="let s of doctor?.listSpecialty">
                                                <p>{{s?.name}},</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Kinh Nghiệm</label>
                                        </div>
                                        <div >
                                            <div class="col-md-13" *ngFor="let e of doctor?.listExperience">
                                                <p>{{e?.experience}},</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Thành Tựu</label>
                                        </div>
                                        <div >
                                            <div class="col-md-13" *ngFor="let a of doctor.listAchievement">
                                                <p>{{a.achievement}},</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Số Ca Khám Hoàn Thành</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{doctor.appointmentDoneCount}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Số Bệnh Nhân</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{doctor.patientCount}}</p>
                                        </div>
                                    </div>
                                   
                           
                        </div > 
                                
                            </mat-tab>
                            
                          </mat-tab-group>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div *ngFor="let s of status" >
                    <div *ngIf="doctor?.isActive==s.id" >
                        <button (click)="changeStatus()" class="profile-edit-btn" name="btn{{s.value}}" id="btn{{s.value}}">{{s?.name}}</button>
                    </div>
                    
                </div>
                
                
                
            </div>
            <div class="col-md-2">
                <a href="javascript:history.back()"><i class="fa fa-chevron-left"></i> Trở Lại</a>
                
            </div>
        </div>
        
        
</div>
