
<div class="container emp-profile">
    <p class="text-dark mb-4" *ngIf="patient?.reason!=null">Lý do tài khoản không được kích hoạt: <span class="text-danger">{{patient?.reason}}</span></p>
    <app-spinner *ngIf="loading$ | async"></app-spinner>
    
        <div class="row">
            
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{patient?.imageUrl?patient?.imageUrl:'assets/img/profile-image.png'}}" class="rounded" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h2 >
                                {{patient?.fullName}}
                            </h2>
                            <!-- <h4>
                                {{patient?.specialty}}
                            </h4> -->
                            <!-- <p class="proile-rating">RATTING : <span>{{patient?.rating}}/5</span></p> -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <mat-tab-group dynamicHeight mat-align-tabs="start">
                            <mat-tab label="About"> 
                                <div class="tab-pane fade show active mt-4" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">User Id</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.id}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.fullName}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">DOB</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.dob}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Gender</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p *ngIf="patient?.gender==1;else elseBlock">Nữ</p>
                                            <ng-template #elseBlock><p>Nam</p></ng-template>
                                        </div>
                                    </div>
                                    
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.email}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Phone</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.phone}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Job</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.job}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Job Place</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.jobPlace}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Street Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.streetName}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">District Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.districtName}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Ward Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.wardName}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">City Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.cityName}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Ethnic Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.ethnicName}}</p>
                                        </div>
                                    </div>
                                    
                                   
                                    
                        </div>
                            </mat-tab>
                            <mat-tab label="Timeline"> 
                                <div class="tab-pane fade show mt-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Weight</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.weight}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Height</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.height}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Blood Type</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{patient?.bloodType}}</p>
                                        </div>
                                    </div>
                                   
                           
                        </div > 
                                
                            </mat-tab>
                            
                          </mat-tab-group>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div *ngFor="let s of status" >
                    <div *ngIf="patient?.isActive==s.id" >
                        <button (click)="changeStatus()" class="profile-edit-btn" name="btn{{s.value}}" id="btn{{s.value}}">{{s?.value}}</button>
                    </div>
                    
                </div>
                
                
                
            </div>
            <div class="col-md-2">
                <a routerLink="/home/patient-list"><i class="fa fa-chevron-left"></i> Back to Patient List</a>
                
            </div>
        </div>
        
        
</div>

