
<div class="container emp-profile">

    <app-spinner *ngIf="loading$ | async"></app-spinner>
    
        <div class="row">
            
            <div class="col-md-4">
                <div class="profile-img">
                    <!-- <img src="{{appointment.imageUrl?appointment.imageUrl:'assets/img/profile-image.png'}}" class="rounded" alt=""/> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h2 >
                                Thông Tin Chi Tiết Ca Khám
                            </h2>
                            <!-- <h4>
                                {{appointment?.specialty}}
                            </h4> -->
                            <!-- <p class="proile-rating">RATTING : <span>{{appointment?.rating}}/5</span></p> -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <mat-tab-group dynamicHeight mat-align-tabs="start">
                            <mat-tab label="Thông Tin"> 
                                <div class="tab-pane fade show active mt-4" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Id</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{appointment?.id}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Ca Khám</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{appointment?.startAt?.substring(0,5)}}-{{appointment?.endAt?.substring(0,5)}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Ngày Khám</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{appointment?.time}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Bệnh Nhân</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p (click)="navigateToPatientProfile(appointment.patientId)">{{appointment?.patientName}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Bác Sĩ</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p (click)="navigateToDoctorProfile(appointment.doctorId)">{{appointment?.doctorName}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Người Thân Bệnh Nhân</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{appointment?.relativeName}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Mã Đơn Thuốc</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{appointment?.prescriptionTrace}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Đường Dẫn Đơn Thuốc</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><a href="{{appointment?.prescriptionUrl?appointment?.prescriptionUrl:''}}" [ngClass]="appointment?.prescriptionUrl==null?'disable':''" target="_blank">Xem</a><p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Mã Bệnh Án</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{appointment?.medicalRecordTrace}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Đường Dẫn Bệnh Án</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p><a href="{{appointment?.medicalRecordUrl?appointment?.medicalRecordUrl:''}}" [ngClass]="appointment?.medicalRecordUrl==null?'disable':''" target="_blank">Xem</a></p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Trạng Thái Ca Khám</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{appointment?.appointmentStatus}}</p>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Trạng Thái Thanh Toán</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{appointment?.paymentStatus}}</p>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                   
                                    
                        </div>
                            </mat-tab>
                            <mat-tab label="Được Chia Sẻ"> 
                                <div class="tab-pane fade show mt-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label style="font-weight:500;">Bệnh Án Và Đơn Thuốc Chia Sẻ</label>
                                        </div>
                                        <div class="col-md-13">
                                            <div class="row-md-4" *ngFor="let mr of appointment?.listSharedMedicalRecord">
                                                
                                                <p>Bệnh Án {{mr?.medicalRecordName}} | <a href="{{mr?.url?mr?.url:''}}" [ngClass]="mr?.url==null?'disable':''" target="_blank">Xem</a></p>
                                                <p>Đơn Thuốc | <a href="{{mr?.prescriptionSharedUrl?mr?.prescriptionSharedUrl:''}}" [ngClass]="mr?.prescriptionSharedUrl==null?'disable':''"  target="_blank">Xem</a></p>
                                                <div class="mb-3"><mat-divider></mat-divider></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                   
                           
                        </div > 
                                
                            </mat-tab>
                            <mat-tab label="Phản Hồi"> 
                                <div class="tab-pane fade show mt-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label style="font-weight:500;">{{feedBack?.comment}}</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div *ngFor="let h of isHidden">
                                                <div *ngIf="feedBack?.isHidden==h.id" >
                                                    <button (click)="changeStatusFeedBack()" class="profile-edit-btn" name="btn{{h.value}}" id="btn{{h.value}}">{{h?.name}}</button>
                                                </div>
                                                
                                            </div>
                                            
                                              
                                            
                                            
                                            
                                        </div>
                                    </div>
                                    
                                   
                           
                        </div > 
                                
                            </mat-tab>
                          </mat-tab-group>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="mb-2">
                    
                    
                </div>
                <div >
                    
                
                
            </div>
                
                
            </div>
            <div class="col-md-2">
                <a href="javascript:history.back()"><i class="fa fa-chevron-left"></i> Trở Lại</a>
                
            </div>
        </div>
        
        
</div>


