<div class="container">
    <div>
      <h2 style="text-align: center">Danh Sách Bác Sĩ</h2>
    </div>
    <div class="container-fluid">
    
        <div class=" search  d-flex justify-content-md-end mb-4 text-right float-right">
         
          <!-- <div class="col-xl-12 col-md-6 form-group" style="text-align: center">
            <label for="searchText"></label>
            <input id="searchText" value="{{searchText}}" name="searchText" placeholder="Tìm kiếm..." class="form-control" type="text">
          </div> -->
          
          
          
          <div class="col-xl-5 col-0" style="text-align: left">
            <br>
            <button  class="btn btn-success mt-xl-0"><i class="fa fa-search" ></i>Tìm Kiếm</button>
          </div>
        </div>
      
    </div>
  
  
  
    <div class="container tab">
  
      <table class="table table-hover table-bordered" id="tbl">
        <thead class="text-dark">
          <tr class="bg-table-header">
            <th scope="col" width="5%">STT</th>
            <th scope="col">Id</th>
            <th scope="col">Lịch sử</th>
        
  
          </tr>
        </thead>
        <tbody style="font-size: 16px">
          <tr *ngFor="let file of filelist,index as i">
            <td>{{i + 1}}</td>
            <td >{{file.id}}</td>
            <td><div *ngFor="let item of file.listHistory">
                <a [href]="item" target="_blank">Xem</a>
            </div>
            
            </td>
          
          </tr>
        </tbody>
      </table>
     
    </div>
  
 
  </div>
